* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}
:root {
    --darkpink: deeppink;
    --green: green;
    --light-grey: #ccc;
    --white: white;
    --black: black;
    --grey: lightgrey;
    --hover-green: rgb(0,50,0);
    --transparent-black: rgba(0,0,0,.5);
}
::-webkit-scrollbar {
    width: 6px;
    height: 0px;

}
::-webkit-scrollbar-thumb {
    background: grey;
}
body {
    background: var( --white);
    font-family: arial, sans-serif;
    width: 100vw;
    height: 100vh;
    position: relative;
	
    overflow-x: hidden;
}
body,html{
scroll-behavior: smooth;
}
button {
    cursor: default;
}

.modal{
position: fixed;
top: 0;
bottom: 0;
left: 0 ;
right:0;
margin: auto;

width:  90%;
height: 30%;

display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

background: rgb(10 , 0, 0);
z-index: -100;
    visibility: hidden;
    opacity: 0;
    transform: translatey(-100%);
    
    
    transition: all 400ms, transform 1s cubic-bezier(0,1,.5,1);
color: white !important;
}

@keyframes talk{
0%,30%{
content:"Hello I'm Mega \1F916";
}
31%,60%{
content:"I'm an AI \1F916";
}
70%,100%{
content:"That delivers message";
}
}
#modal-text{
max-width: 80%;
font-size: 1em;
word-wrap: break-word !important;
}
.modal.active{

opacity: 1;

    z-index: 10000;
    visibility: visible;
    transform: none;
}

.modal.active::after{
content:"Hello I'm Mega \1F916";
position: absolute;
margin: 0 auto;
top: 0%;
transform: translatey(-100%);
width: 70%;
height: 25px;
background: rgba(50 , 0, 0,.9);
border-radius: 5px 5px 0 0;
text-align: center;
line-height: 25px;
opacity: 1;

    z-index: 10000;
    visibility: visible;
animation: talk 6s linear infinite;

}
p.close{
position: absolute ;
top: 0;
right: 0;
margin: 15px !important;
font-size: 1.5em;
font-weight: bolder;
color: red;
opacity: 1;
z-index: 10;
cursor: default;
padding: 3px 10px;
background: transparent;
border-radius: 50%;
transition: all 300ms;
text-shadow: 0 0 5px white;
}
.modal-btn{
position: absolute ;
bottom: 0;
right: 0;

}
.modal-btn button{
border: none;
background: none;
color: white;
background: rgba(50 , 0, 0,.6);
font-size: 1em;
padding: 5px 10px;
margin: 5px;
}


.modalPage{
position: fixed;
top: 0;
bottom: 0;
left: 0 ;
right:0;
margin: auto;
background: #252825;
width: 0%;
height: 0%;
z-index: -10;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;

visibility: hidden;
opacity:0;
transition: all 700ms;
color: white !important;
}
.modalPage p.close{
position: absolute ;
top: 0;
right: 0;
margin: 15px !important;
font-size: 2em;
font-weight: bolder;
color: red;
opacity: 1;
z-index: 10;
cursor: default;
width: 30px;
height: 30px;

display: flex;
align-items: center;
justify-content: center;
background: transparent;
border-radius: 50%;
transition: all 300ms;
}
.modalPage a.negotiate{
position: absolute ;
top: 0%;
right: 0;
left:0;
margin: 5px auto;
font-size: 1.1em;
font-weight: bolder;
color: blue;
opacity: 1;
z-index: 10;
text-align: center;
line-height: 1em;
cursor: default;
max-width: 50%;
text-shadow: 0 0 20px white;

}
.modalPage .close:hover{
color: darkred;

background: #eee;
}
a.negotiate:hover{
color: red;
}
#showMe{
	flex: 0 0 50% !important;
	margin: 10px auto;
	width: 90%;
	height: 100%;
}
.modalPage .modal-content{

width: 100%;
height: 100%;
background-color: #ccc;
background-image: url(hdgp-logo-main.png);
background-position: 50% 50%;
background-size: cover;
background-repeat: no-repeat;
object-fit: contain;
}
.modalPage .modal-text{
align-self: flex-start;
max-width: 80%;
height: max-content;
overflow-y: auto;
margin: 10px 5%;
font-size: 1.4em;
font-weight: bolder;
color: white;
text-align: left;
}
.modalPage h2{
    text-transform: uppercase;
align-self:center;
text-align: center;
font-size: 1em;
color: var( --green);
margin: 15px 5px;

}
.modalPage p{
align-self: flex-start;
font-size: .79em;
color: white;
margin: 15px 5px;

}
.modalPage{
width:  90%;
min-height: 90%;
transform: scale(0);
}





.modalPage.animate{
width:  90%;
min-height: 90%;
z-index: 2000000000000000000000 !important;
transform: scale(1);
visibility: visible;
opacity: 1;
}
.modalPage,.modalPage.animate{
width:  100%;
min-height: 100%;
transition: all 1s ease;
}


nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    display: flex;
    background: var( --darkpink);
    z-index: 1000;
    align-items: center;
}
nav * {
    margin: 0 10px;
    cursor: default;
}

nav .icon {
    display: none;
}
nav a {
    text-decoration: none;
    cursor: pointer;
}
nav a,
nav i,
nav p.logo {
    color: var( --white);
    padding: 10px;
    font-size: 1em;
    font-weight: 400;
}
nav i{
    padding: 10px 3px;
}
nav i:hover,
nav a:hover {
    background: green;
}
nav p.logo {
    color: var( --green);
    font-weight: bolder;
}
.menu-toggle {
    width: 22px;
    position: relative;
    transition: all .2s;
}
.menu-toggle div {
    width: 100%;
    height: 5px;
    background: var( --white);
    border-radius: 10px;
    transition: all .2s;
    margin: auto;
    cursor: pointer;
}
.menu-toggle .one,
.menu-toggle .two {
    margin-bottom: 3px;
}
.menu-toggle.active .one {
    transform: rotate(45deg) translate(6px ,5px);
}
.menu-toggle.active .two {
    transform: translatex(-20px);
    opacity: 0;
}
.menu-toggle.active .three {
    transform: rotate(-45deg) translate(6px ,-6px);
}
nav .icon:hover ,
nav.responsive .icon.active {
    background: var( --green);
	
	/*padding: 14px 0;
	margin: 0 !important;*/
}
nav .icon:hover .menu-toggle div {
    background: var( --white);
}
nav .icon.active .menu-toggle div,
nav .menu-toggle.active div {
    background: var( --white);
}

nav button {
    background: var( --green);
    color: var( --white);
    outline: none;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    margin-right: 0;
    margin-left: auto;
    transition: all 400ms;
}
nav button:hover {
    background: var( --hover-green);
}


header {
    width: 100%;
      
    position: fixed;
    top: 48px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: var(--white);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-width: 1px 0 1px 0;
    border-style: solid;
	
    border-color: var( --darkpink) transparent var( --green) transparent;
}
header div {
    padding: 5px 0;
    margin: 5px 0;
    display: flex;
    flex-direction: column;

    letter-spacing: 2px;
    text-align: right;
    line-height: .8em;
}
header div:first-child h1 {
    font-size: 1.5em;
    text-align: left;
    color: var(--green);
}
header div:last-child h1 {
    font-size: 1em;
    text-align: left;
    color: var(--darkpink);
}
header h1 span {
    color: var(--darkpink);
    margin-left: 5px;
}
header div p {
    font-size: .75em;
    margin-left: 30px;
    font-weight: bold;
}
header div:last-child p {
    font-size: .75em;
    margin-left: 50px;
    color: var(--green);
}

main {
    margin-top: 100px;
    width: 100%;
    height: max-height;
    background: -webkit-linear-gradient(olive 60%,  var( --white) 50%);
    background: linear-gradient(olive 60%,  var( --white) 50%);
    background-attachment: fixed;
   
}
#container {
    position: relative;
    width: 98%;
    height: max-height;
    top: 10px;
    margin: 0 auto;
    background: var( --white);
    padding-bottom: 45px;
}
#container .main-head {
    width: 100%;
    height: 200px;
    background: #eee;
    /*#234567;*/

}
#container .head-main {
    width: 100%;
    height: 100%;

    display: flex;

    flex-wrap: wrap;
    position: relative;
}


#container .head-main .head-foot {
    flex: 1 1 100%;
    width: 100%;
    height: 25%;
    background: var( --darkpink);
    color: var(--white);
    display: flex;
    justify-content: space-between;
    cursor: default;
}
#container .head-main .head-foot > * {
    flex: 1 1 50%;
}
#container .head-main img {
    flex: 0 0 50%;
    width: 50%;
    height: 75%;

    object-fit: cover;
}
#container .head-main .form {
    flex: 0 0 50%;
    width: 50%;
    height: 85%;
    background: #eee;
    /*#234567;*/
    position: absolute;
    top: 0%;
    right: 0;
    padding: 2px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: -20px -5px 20px var( --white);
    transition: all 400ms cubic-bezier(0,1.5,.3,1);
}

#container .head-main .form input {
    outline: none;
    border: none;
    border: 1px solid grey;
    width: 90%;
    padding: 2px 2px;
    margin: 2px auto;
    font-size: .6em;
    border-radius: 5px;

}
#container .head-main .form button {
    outline: none;
    border: none;
    width: 80%;
    border: 1px solid grey;
    background: var( --green);
    padding: 1px;
    margin: 2px auto;
    border-radius: 5px;
    font-size: .6em;
    color: var( --white);
    text-transform: uppercase;
    transition: all 400ms;
}
#container .head-main .form:hover {
 z-index: 10;
}

#container .head-main .form button:hover {
    background: var( --hover-green);
}
#container .head-main .form h6 {
    font-size: .8em;
    color: var( --darkpink);
}

.gammora {
    width: 200px;
    height: auto !important;
	transform: scale(.8);
    position: absolute;
    top: calc(50% - 100px);
    left: calc(50% - 100px);
    transition: all 4s cubic-bezier(0,1.5,.3,1);
}


.gammora {
    border-radius: 50%;
    box-shadow: 0 0 12em 1em rgba(110, 140, 200, .6);
}


/*.gammora:hover {
    transform: translateX(-220px) translateY(-85px) scale(.3);
}
*/


#container .head-main .head-foot h1 {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin: 5px 10px;
    line-height: .6em;
    font-size: 1.8em;

}

#container .head-main .head-foot span {
    font-size: .4em;
    text-transform: uppercase;

}
#container .head-main .head-foot p {
    font-size: .83em;
    align-self: flex-end;
    text-align: right;

}
#container .head-main .head-foot .links {
    display: flex;
    max-width: 62px;
    justify-content: flex-end;
    align-items: flex-end;
}
#container .head-main .head-foot a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    font-size: .6em;
    margin: 0 5px;
    margin-bottom: 8px;
    font-weight: bolder;
    line-height: .9em;
    transition: all 500ms ease;
}

#container .head-main .head-foot a:hover {
    color: var( --green);
    transform: scale(1.05);
    text-shadow: 1px 1px var( --white);

}

#container .about {
    width: 100%;
    height: max-content;
    max-height: max-content;
    background: var( --white);
    display: flex;
    align-items: center;
    cursor: default;
	padding: 10px 0;
	margin: 0 auto;
}
#container .about div:first-child {
    background: var( --darkpink);
    background: -webkit-radial-gradient(circle at top center, var( --white) 0%, var( --darkpink) 60%);
    background: radial-gradient(circle at top center, var( --white) 0%, var( --darkpink) 60%);

    color: var( --white);
    width: 65px;
    height: 65px;
    padding: 5px;
    margin: 0 2px;
    margin-left: 5px;
    border-radius: 50%;
    font-weight: bolder;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid olive;
   position: relative;

    transition: transform 300ms;
}
#container .about div:first-child::before {
		content:"";
	position: absolute;
	top: 0px;
	left: 0px;
	
	right: 0;
	bottom: 0;
	margin: auto;
	border-radius: 50%;
	width: 80%;
    height: 80%;
		border: 2px dashed var( --darkpink) ;
		background: none;
		transform: scale(1.34);
		transition: transform 300ms;
}
#container .about div:first-child:hover {
   
    transform: scale(1.05);
    box-shadow: 0 0 10px grey;
}
#container .about div:first-child:hover::before {
	transform: scale(1.45) rotate(360deg);
}
#container .about div:first-child * {
    font-size: .9em;
    text-align: center;

}
#container .about div:first-child p {
    font-size: .65em;

}
#container .about div:last-child {
    line-height: .8em;
    margin: 5px 0;
    margin-left: 5px;
}
#container .about div:last-child h2 {
    font-size: .9em;
    color: var( --darkpink);
}
#container .about div:last-child h6 {
    font-size: .8em;
    color: var( --green);
    margin: 1px 0;
}
#container .about div:last-child p {
    font-size: .65em;

}

#container .products {
    width: 100%;
    height: 100px;
    background: var( --white);
    display: flex;
     
    color: var( --darkpink);
    text-shadow: 1px 1px black;
    text-align: center;
    font-weight: bolder;
    font-size: 1.1em;
}

.products p{

}
#container .products > *:first-child {
    flex: 1 1 70%;
    background-color: grey;
    background-image: url(condala-images/shirt.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#container .products > *:last-child {
    flex: 1 1 30%;
    background-color: #ddd;
    background-image: url(condala-images/shoe.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#container .approval {
    width: 100%;
    height: max-content;
    background: var( --white);
    display: flex;
    flex-wrap: wrap;

    text-align: center;
    font-weight: bold;
    margin: 1em auto;
}
#container .approval .org {
    width: 100%;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}
#container .approval h1 {
    flex: 1 1 100%;
    margin: 10px;
    font-size: 1.1em;
    text-align: left;

}
#container .approval p {
    flex: 1 0 25%;
    padding: 5px;
    font-size: .9em;
    text-transform: uppercase;
    margin: 10px 5px;
    background: var( --white);
    color: var( --darkpink);
    box-shadow: inset 0 0 5px var( --darkpink);
    transition: all 400ms ease;
    cursor: pointer;
}
#container .approval p:hover {
    background: var( --darkpink);
    color: var( --white);
    box-shadow: inset 0 0 10px var( --white);
}

#container .tips {
    width: 100%;
    height: max-content;
    background: var( --white);

    display: flex;


    font-weight: bold;
    padding: 1em auto;
}
#container .tips div {
    flex: 1 1 50%;
    width: 100%;
    height: 80px;
    background: var( --darkpink);
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 80% 50%,100% 100%,0% 100%);
    clip-path: polygon(0% 0%, 100% 0%, 80% 50%,100% 100%,0% 100%);
    color: var( --white);
    display: flex;
    flex-direction: column;
    text-align: left;
    transform: translatex(15px);
}
#container .tips div:nth-child(2n) {
    background: olive;
    -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 100%,0% 100%,20% 50%, 0% 0%);
    clip-path: polygon(20% 0%, 100% 0%, 100% 100%,20% 100%,0% 50%, 20% 0%);


    transform: translatex(-15px);
}
#container .tips div:nth-child(3) {
    background: #f83600;
}
#container .tips div:nth-child(4) {
    background: orange;
}

#container .tips h3 {
    font-size: .8em;
    text-align: center;
    margin: 5px auto;
}
#container .tips p {
    max-width: 80%;
    font-size: .8em;
    margin: 0 auto;
    text-align: left;
}
#container .tips div:nth-child(2n) p {
    text-align: right;
}



.product-reviews{
background: #eaeaea;
width: 90%;
    height: max-content;
margin: 1em auto;
display: flex;

    align-items: center;
justify-content: center;

}

.product-reviews .reviews{
background: #ddd;

width: 100%;
    height: 300px;
overflow-y: scroll;
overflow-x: hidden;
margin:  10px auto;
}



.reviews > h1{
font-size: 1.1em;
color: red;
position: sticky;
top:0;
text-align: center;
width:100%;
padding: 3px;
background: #ddd;
}
.reviews > div{
display: flex;
    align-items: center;
margin:  5px auto;
padding: 10px;
}
.reviews > div:hover{
background: #ccc;
}
.reviews > div img{
width: 40px;
height: 40px;
border-radius:50%;
margin: 0 3px;
align-self: flex-start;
}
.reviews > div div{
display: flex;
flex-direction: column;
    justify-content: center;


}
.reviews > div div h2{
font-size: .9em;
color: var(--green);
}
.reviews > div div p{
font-size: .8em;
color: var(--black);
font-weight: 420;
margin-top: 5px;
}
.product-reviews .product-advert{

font-size: 1.2em;
margin: 0 5px;
background: olive;
background: -webkit-radial-gradient(circle at center,olive 80%,  var( --black) 20%);
    background: radial-gradient(circle at top center,#444 10%,olive 90%);
width: 200px;
    height: 250px;
display: flex;
flex-direction: column;
    align-items: center;
color: var( --white);
}
 .product-advert p{
 text-transform: uppercase;
font-size: .8em;
font-weight: bold;
}
 .product-advert h1{
font-size: 1.5em;
transform: scale(1.3);
}
 .product-advert button {
   
    background: red;
    color: var( --white);
    outline: none;
    border: none;
    padding: 8px;
    border-radius: 2px;
    margin: 3px auto;
    font-size: .7em;
    transition: all 400ms;
  box-shadow: 0 0 10px var(--white);
}
.product-advert button:hover {
background: darkred;
box-shadow: 0 0 10px var(--black);
}


#testimony-text,
#faq-text ,
#free-heading{
font-size: 1.2em;
color: darkred;
text-align: center;
text-transform: uppercase;
margin:  0 auto;
margin-top: 1em;
font-family: times;
}
#testimony-sub-text,
#free-sub-text{
font-size: 1em;
color: black;
text-align: center;
margin:  0 auto;
font-family: times;
}
.testimonies,
.faqs{
width:100%;
max-height: 350px;
overflow: hidden;
background: #ddd;
}
.testimonies div{
background: #888;
width:90%;
min-height: 100px;
max-height: max-content;
margin: 10px auto;

border-radius: 10px;
position: relative;
padding: 3px;
}
.testimonies div section{
display: flex;
    align-items: center;
margin: 5px 0;
}
.testimonies div .profile {
width: 30px;
height:30px;
background: cyan;
color:var( --white);
text-shadow: 1px 1px black;
border-radius: 50%;
margin: 0 2px;
font-size: calc(100%+10px);
text-transform: uppercase;
display: flex;
    align-items: center;
justify-content: center;
}
.testimonies div h3{
font-size: 1em;
color: var( --white);

}
.testimonies div p{
font-size: .8em;
color: var( --black);
margin: 5px 15px;
padding-bottom: 1em;
}
.testimonies div p .more{
display: none;
}
.testimonies div span{
font-size: .75em;
color: darkred;
position: absolute;
bottom: 0;
}
.testimonies div .location{
left: 10%;
}
.testimonies div .time{
right: 10%;
}
.testimony-btn{
display: flex;
	flex-wrap: wrap;
	width: 90%;
	margin: 5px auto;
	align-items: center;
justify-content: center;
}
.testimony-btn a {
      flex: 0 0 80%;  
width:100%;
    background: none;
text-decoration: none;
    color: var( --black);
    
    padding: 10px;
    border-radius: 2px;
    margin: 5px auto;
    font-size: 1em;
text-align: center;
    transition: all 400ms;
  border: 1px solid var(--black);
  cursor: pointer;
}
.testimony-btn a:hover {
background: black;
color: var( --white);
}

.share-testimony{
	
	
	width: 90%;
	height: max-content;

	
	margin: 1em auto;
	background: var( --white);
   display: none;
     transition: all 1s ease;
}
.share-testimony h1{
font-size: 1.2em;
color: black;
text-align: center;

margin:  10px auto;
margin-top: 1em;
font-family: times;
}
.share-testimony div {
	width: 80%;
	margin: 5px auto;
	position: relative;
	height: 35px;

	}
.share-testimony div:nth-of-type(3) {
height: 60px;
}

	.share-testimony div input ,
	.share-testimony div textarea {
	width: 100%;
	height: 100%;
	outline: none;
	border: none;
    color: var( --black);
	border: 1px solid var(--grey);
	background: var( --white);
   text-indent: 15px;
}
	.share-testimony div textarea {
padding: 10px 0 0 0;
}
.share-testimony div p{
	
	position: absolute;
	top:0;
	bottom: 0;
	height: max-content;
	left: 10px;
	background: transparent;
	margin: auto 0;
	color: grey;
	z-index: 0;
	transform: scale(.9);
transition: all 400ms ease;
}

.share-testimony button{
	align-self: flex-end;
	border: none;
	outline: none;
	background: grey;
	color: var( --white);
	padding: 10px;
	z-index: 0;

	margin: 10px;
	font-size: .95em;
	margin-right: 10%;
}
.share-testimony button:hover{
	background: #999;
	color: var( --white);
	transform: translatey(-3px);
	z-index: 1;
} 

.share-testimony div>input:focus~ p,
.share-testimony div p.active,
.share-testimony div>textarea:focus~ p,
.share-testimony div:nth-child(3) p.active{
	top: -100%;
    left: 0px;
	z-index: 1;
	transform: scale(.7);
    background: var( --white);
}
.faqs{
max-height: max-content;
padding: 1em 0;
border: 1px solid #aaa;
}
.faqs div{
	width: 95%;
    height: max-content;
	margin: 10px auto;
    

    background: var(--light-grey);
    color: var(--black);

    border-radius: 0 15px 15px 15px;
    font-weight: 420;
    word-spacing: 1px;
    line-height: 1.4em;
    transition: all 500ms ease;
    position: relative;
}
.faqs div h4:hover{
	cursor: pointer;
}
.faqs div h4::after{
	content:"❯";

	font-weight: bolder;
	font-size: 1.3em;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
	height: max-content;
	right: 1%;
	margin: auto 0;
	
	width: 30px;
	height: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	transition: transform 500ms ease;
}
.faqs div p{
	display: none;
	margin: 10px;
	margin-left: 20px;
    height: 0;
    transition: all 500ms ease;
}
.faqs div h4{
	width: 100%;
	padding: 10px;
	margin: 0;
	border-radius: 0 15px 15px 0;
	position: relative;
     color: var( --green);
     transition: all 500ms ease;
}
.faqs div.active h4{
	
	background: #888;
	color: #fff;
}
.faqs div.active h4::after{
	transform: rotate(90deg);
}
.faqs div.active p{
	display: block;
height: max-content;
    transition: all 500ms ease;
}

#view-more {
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    background: #ccc;
    font-size: .95em;
    color: black;
    position: relative;
    transition: all .6s ease, transform .6s ease;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: default; 
margin: 0px auto;
width: max-content;
border: 1px solid #aaa;
}
#view-more p {
    padding: 0 20px 0 0;
}
#view-more span {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto 0;
    margin-right: 30px;
    transform: rotate(90deg);
}
#view-more:hover {
    background: #aaa;
    
  
    z-index: 1;
}

#free-info{
display: flex;
	flex-direction: column;
	width: 100%;
	margin: 1em auto;
	align-items: center;
justify-content: center;
text-align: center;
font-family: times;
}
#free-heading{
font-size: .8em;
color: red;
}
#free-sub-text{
font-size: .8em;
margin: 3px auto;
max-width: 90%;
font-weight:420;
}
#free-btn {
   position: relative;
    background: var( --green);
    color: var( --white);
    outline: none;
    border: none;
    padding: 9px;
    border-radius: 2px;
    margin: 3px auto;
    font-size: .8em;
text-transform: uppercase;
font-family: times;
    transition: all 400ms;
  box-shadow: 0 0 10px var(--white);
animation: clickMe 300ms ease alternate infinite;
}
#free-btn:hover {
animation-play-state: paused;

}
@keyframes clickMe{
0%{
background: var( --green);
box-shadow: 0 0 10px var(--white);
}
100%{
background: darkred;
box-shadow: 0 0 10px var(--black);
}
}
#free-links{
display: flex;
	width: 100%;
	margin: 1em auto;
	align-items: center;
justify-content: center;
text-align: center;
font-family: times;
}
#free-links a{
text-decoration: none;
color: #666;
font-size: .6em;
flex: 1 1 20%;

}
#free-links a+a{
border-left: 1px solid #ccc;
}
#cookies{
display: flex;
align-items: center;
justify-content: center;
position: fixed;
bottom: 0;
right: 0;
left: 0;
z-index: 100;
width: 100%;
padding: 5px;
background: #333;
color: var( --white);
}
#cookies p{
flex: 1 1 70%;
font-size: .8em;
text-wrap: break-words;
}
#cookies p a{
color: red;
margin-left: 3px;
}
#cookies button{
color: var( --white);
    outline: none;
    border: none;
background : none;
    padding: 3px;
    border: 1px solid white;
    margin: 0 3px;
    font-size: .8em;

    transition: all 400ms;
}
#cookies button:hover{
background: var( --white);
color:  black;
}
#copyright {
font-size: .6em;
text-align: center;
letter-spacing: 3px;

margin: 1em auto;
max-width: 90%;
    color: grey;
padding-bottom: 30px;
}
/* Media queries */
@media screen and (min-width: 700px) and (max-width: 1200px) {
	.modal{
		width:  50%	;
	}
    #container {
        width: 95%;
    }
    #container .main-head {

        height: 400px;
    }
    .gammora {
        width: 100px;
        height: auto !important;
		
        top: calc(50% - 210px);
        left: calc(50% - 210px);
    }
   /* .gammora:hover {
		transform: translateX(-400px) translateY(-150px) scale(.3);
	}
	*/
	
    #container .main-head .form {
        padding: 10px;

    }
    #container .main-head .form h6 {
        font-size: 1.3em;
    }
    #container .head-main .form input,
    #container .head-main .form button {
        padding: 10px 2px;
        margin: 3px auto;
        font-size: .6em;
        border-radius: 5px;

    }
    #container .head-main .form input {
        padding: 10px 5px;
    }
    #container .head-main .head-foot {
        font-size: 1.6em;
    }
    #container .head-main .head-foot h1 {
        margin-left: 1em;
    }
    #container .head-main .head-foot .links a {
        margin: 10px 15px;
    }
	#container .about {
		padding: 1.5em 1em;
	}
    #container .about div:last-child {
        font-size: 1.5em;
		margin-left: 1em;
    }
	#container .about div:last-child p {
		
		max-width: 80%;
	}

    #container .about div:first-child {
      
        width: 95px;
        height: 95px;
        padding: 10px;
       
    }
	#container .about div:first-child::before {
		border: 3px dashed var( --darkpink) ;
	 }
	#container .about div:first-child * {
		 font-size: 1.4em;
	}
	#container .about div:first-child p {
		 font-size: .8em;
	}
	#container .products {
		font-size: calc(100% + 1em);
		height: 200px;
	}
	
	
	 #container .approval{
		  width: 98%;
	 }
    #container .approval p {
        flex: 1 0 10%;
        padding: 10px;
        font-size: 1.1em;
    }
    #container .tips div {
        flex: 1 1 25%;
    }
	.product-reviews{
		height: 300px;
 display: flex;

    align-items: center;
justify-content: center;
	}
	.product-reviews .reviews{
		flex:  1 1 75%;
   width: 100%;
		height: 100%;
margin: 0;
	}
	.reviews > h1{
		font-size: 1.3em;
	}
	.reviews > div{
		padding: 5px;
	}
	.reviews > div img{
		width: 50px;
		height: 50px;
	}
	
	.reviews > div div h2{
		font-size: 1.2em;
	}
	.reviews > div div p{
		font-size: 1em;
		max-width: 80%;
	}
	.product-reviews .product-advert{
		font-size: 1.3em;
		flex: 1 0 25%;
		width: 100%;		
		height: 100%;
	}
	
	#testimony-text,
	#faq-text ,
	#free-heading{
		font-size: 1.5em;
	}
	#testimony-sub-text{
		font-size: 1.3em;
	}
	#free-sub-text{
		font-size: 1.1em;
	}
	#free-btn {
		padding: 10px;
		
		font-size: 1.1em;
	}
	.testimony-btn a {
		flex: 0 0 40%; 
	}
	.testimonies{
		max-height: 400px;
		display: flex;
		flex-wrap: wrap;
		
	}
	.testimonies div{ 
		font-size: 1.3em;
		flex: 1 1 40%;
		margin: 10px;	
		transition: all 200ms linear;
	}
	.share-testimony div:nth-child(3) {
		height: 80px;
	}
	.share-testimony div {
		height: 40px;
	}
	#copyright {
		font-size: .8em;
	}
}
@media screen and (max-width: 600px) {
    nav.responsive {
        flex-wrap: wrap;
        background: var( --darkpink);
    }
    nav.responsive a:hover {
        background: var( --green);
    }
	
    nav a:not(a.icon) {
        width: 100%;
        text-align: left;

    }

    nav a:not(:first-child) {
        display: none;
    }
    nav.responsive a:not(.logo) {
        order: 5;
        display: block;
        flex: 1 1 100%;
        margin: 0;
    }
    nav .logo {
        display: block;
    }
    nav p.logo {
        margin-left: 40px;
    }
    nav a.icon {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin: 5px 0 !important;
        padding: 8px 0px;
        display: flex;
        align-items: center;
        height: max-content;

    }
    header div {
        letter-spacing: 0px;
        font-size: .75em;
    }
    header div:last-child p {
        margin-left: 30px;
    }
    main {

        background: -webkit-linear-gradient(olive 40%,  var( --white) 60%);
        background: linear-gradient(olive 40%,  var( --white) 60%);
    }
    #container {
        position: relative;
        width: 98%;
    }
	 #container .about div:first-child::before {
	
	top: -1px;
	left: -1px;
	 }
    #container .tips {
        flex-wrap: wrap;
        font-size: .75em;
    }
	
	
	.reviews::-webkit-scrollbar {
		width: 0px;
		height: 0px;


	}
	.faqs div{
	font-size: .8em;
	}



}

@media screen and (max-width: 700px) {
	.head-main .form.active{
		width:80% !important;
		height: 100% !important;
		margin: auto;
		z-index: 10 !important;
		box-shadow: 0 0 0 transparent !important;
	}
	.head-main .form.active h6{
		font-size: 1em !important;
	}
	.head-main .form.active input{
		padding: 5px !important;
		margin: 5px auto !important;
		width: 80% !important;
		font-size: .7em !important;
		border-radius: 2px !important;
	}
	.head-main .form.active button{
		padding: 4px !important;
		font-size: .7em !important;
		margin-top: 5px !important;
	}
	.product-reviews{
	flex-direction: column;
	}
	.product-reviews .reviews{
	order: 1;
	}
}
